<h6>Lokalen: </h6>
<input type="file" name="classroom_csv" accept=".csv"><br>
<div>{{messageClassroom}}</div><br>
<h6>Studenten: </h6>
<input type="file" name="student_csv" accept=".csv"><br>
<div>{{messageStudent}}</div>
<div>{{messageMembership}}</div><br>
<h6>Docenten: </h6>
<input type="file" name="teacher_csv" accept=".csv"><br>
<div>{{messageTeacher}}</div><br>

<button type="submit" class="btn btn--green">Upload</button>
