<h4>Lokalen: </h4>
<input type="file" name="classroom_csv" accept=".csv"><br>
<div>{{messageClassroom}}</div>
<h4>Studenten: </h4>
<input type="file" name="student_csv" accept=".csv"><br>
<div>{{messageStudent}}</div>
<h4>Docenten: </h4>
<input type="file" name="teacher_csv" accept=".csv"><br>
<div>{{messageTeacher}}</div>

<button type="submit">Upload</button>
