<header class="main-header">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav>
          <div class="logo">
            <span class="logo__text">Web Room Booking</span>
          </div>
          <div class="user">
            <div class="user__name" {{ action "toggleUserDropdown" }}>
              <span class="user__name__text">John Doe</span>
              <span class="user__name_icon icon-arrow {{if dropdownOpen "user__name_icon--open"}}"></span>
            </div>
            {{# if dropdownOpen }}
              {{#transition-group transitionName="user-dropdown"}}
                <div class="user__dropdown">
                  <ul>
                    <li>Dashboard</li>
                    <li>Mijn account</li>
                    <li>Uitloggen</li>
                  </ul>
                </div>
              {{/transition-group}}
            {{/if}}
          </div>
          <i class="icon-menu"></i>
        </nav>
      </div>
    </div>
  </div>
</header>
