<header class="main-header">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav>
          <div class="logo">
            <span class="logo__text">Web Room Booking</span>
          </div>
          <div class="user">
            <div class="user__name">
              <span class="user__name__text">Gebruikersnaam</span>
              <span class="user__name_icon icon-arrow"></span>
            </div>
          </div>
          <i class="icon-menu"></i>
        </nav>
      </div>
    </div>
  </div>
</header>
