/***
  * Here are the styles defined for the
  * login view. These will also apply for
  * the register view.
 */
.login-register-view {
  width: 100%;
  height: 100vh;
  background: $background-light-grey;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('../images/login_background.png');
    opacity: 0.05;
    width: inherit;
    height: inherit;
  }

  .login-register-view__content {
    width: 600px;
    @include centerer(true, true);

    .logo {
      font-size: 30px;
      color: $dark-blue;
    }

    form {
      width: 100%;
      padding: 25px 0;

      .form-group {
        input {
          width: 100%;
          box-shadow: $default-box-shadow;
        }
      }

      .btn {
        margin-top: 10px;
      }
    }

    .separator {
      width: 100%;
      height: 1px;
      background: $separator;
      display: block;
      @include border-radius(50px);
    }

    p {
      margin: 25px 0;
    }
  }

  @include media-breakpoint-down(sm) {
    .login-register-view__content {
      width: 100%;
      padding: 15px;
    }
  }
}
