.view {
  &.view__new-reservation {
    form {
      .form-group {
        label {
          display: block;
          width: 100%;
          font-weight: 500;
        }
        input {
          width: 100%;
          position: relative;

          &.date-picker {
            &::before { // @TODO: This is not working properly
              display: none;
              position: absolute;
              content: '\e803';
              right: 0;
              top: 0;
              font-size: 18px;
            }
          }
        }
      }
      button {
        margin-top: 15px;
      }
    }

    table.classrooms-table {
      margin: 0 -50px;
      width: calc(100% + 100px);

      tr {
        th:first-child, td:first-child {
          padding-left: 50px;
        }

        th:last-child, td:last-child {
          padding-right: 50px;
        }

        &:hover:not(:first-child) {
          @include transition(200ms);
          background-color: $background-light-grey;
        }
      }

      td {
        padding: 12px 0;
      }

      .classroom::before {
        display: none;
      }

      .classroom__select > button {
        float: right;
        margin-top: 0;
      }
    }
  }
}
