.view {
  &.view__new-reservation {
    form {
      .form-group {
        label {
          display: block;
          width: 100%;
          font-weight: 500;
        }
        input {
          width: 100%;
        }
      }
    }
  }
}
