.view {
  &.view__studentgroups {
    form {
      .form-group {
        label {
          display: block;
        }
        input {
          width: 100%;
        }
      }
    }
    .btn {
      width: auto;
      margin-top: 10px;

      &:first-child {
        margin-right: 30px;
      }
    }
    .filter {
      width: 100%;
      margin-bottom: 20px;
      padding: 5px;
    }

    .reservation__date {
      width: 100%;
    }

    .groupmember--delete, .groupmember--add {
      float: right;
      cursor: pointer;
    }

    .groupmember--add {
      font-size: larger;
    }
  }
}
