.view {
  &.view__profile {
    .grid-block {
      &.grid-block--regular {
        form {
          .form-group {
            input {
              width: 100%;
            }
          }
          .btn__change-password {
            margin-top: 15px;
          }
        }
      }
      &.grid-block--reservations {
        .search-bar {
          padding: 12px 25px;
          border: 1px solid $medium-gray;
          margin-bottom: 30px;
          width: 100%;
        }
      }
    }
  }
}
