<main class="view view__profile">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="grid-block grid-block--reservations grid-block--margin-top">
          <div class="grid-block__title">Overzicht reserveringen</div>
          <input
              type="text"
              placeholder="Zoek reservering"
              class="default-input search-bar"
          >
          <div class="reservations-block">
            {{reservation-list reservations=model delete=(action "sayHi")}}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>