.grid-block {
  .classrooms-block {
    width: 100%;
    float: left;

    a {
      .classroom {
        width: 100%;

        .classroom__capacity, .classroom__room {
          display: inline-block;
        }
      }
    }
  }
}
