.grid-block { // Just make sure we are in a grid block
  .groups-block {
    .group {
      font-size: 16px;
      color: $dark-blue;
      padding: 22px 0;
      position: relative;
      border-top: 1px solid $background-light-grey;

      &::before {
        @include transition(200ms);
        content: '';
        position: absolute;
        left: -50px;
        @include calc(width, '100% + 100px');
        @include calc(height, '100% + 2px');
        background: $background-light-grey;
        z-index: 1;
        top: -1px;
        opacity: 0;
        visibility: hidden;
      }

      &:first-child {
        border: none;
      }

      .group__name {
        display: inline-block;
      }
      .group__expand {
        @include rotate(90deg);
        float: right;
        cursor: pointer;
      }
    }
  }
}
