<div class="new_reservation">
  <h1>New Reservation</h1>
  <form>
    <h3>Datum</h3>
    <input type="date" name="reservation-date">
    <h3>Tijd</h3>
    <select name="lesuur">
      <option selected disabled> Choose period</option>
      <option value="1e uur">1e uur</option>
      <option value="2e uur">2e uur</option>
      <option value="3e uur">3e uur</option>
      <option value="4e uur">4e uur</option>
      <option value="5e uur">5e uur</option>
      <option value="6e uur">6e uur</option>
      <option value="7e uur">7e uur</option>
      <option value="8e uur">8e uur</option>
      <option value="9e uur">9e uur</option>
      <option value="10e uur">10e uur</option>
      <option value="11e uur">11e uur</option>
      <option value="12e uur">12e uur</option>
      <option value="13e uur">13e uur</option>
      <option value="14e uur">14e uur</option>
      <option value="15e uur">15e uur</option>
      <option value="16e uur">16e uur</option>
    </select>
    <h3>Lokaal</h3>
    <select gebouw>
      <option selected disabled>Choose building</option>
      <option value="Epydrost"> Epydrost</option>

    </select>
    <select>
      <option selected disabled>Choose floor</option>
      <option value="fourthFloor">4</option>
      <option value="fithFloor">5</option>
    </select>
    <select>
      <option selected disabled>Choose room</option>
      <option value="30"> 30</option>
      <option value="31"> 31</option>
      <option value="32"> 32</option>
      <option value="33"> 33</option>


    </select>

    <ul>
      {{#each model as |classroom|}}
        <li>koekje</li>
      {{/each}}
    </ul>
    <input type="submit">
  </form>
</div>