<form>
  group name: {{input type="text" value=model.groupName}} <br>
  uren: {{input type="number" value=model.hours}} <br>
  <button type="submit" value="submit" {{action "saveModel"}}>Save studentgroup</button>
</form>