<form>
 group name: {{input type="text" value=model.groupName}} <br>
 uren: {{input type="number" value=model.hours}} <br>
 Add student:{{input type="text"}}<br>
   <button type="submit" value="submit" {{action "saveModel"}}>Save student</button>
</form>