<div class="route-studentgroups">
  <h1>Student groups</h1>

  <ul>
    {{#each model as |studentgroup|}}
      {{#link-to "studentgroups.show"}}<li>{{studentgroup.groupName}}</li>{{/link-to}}
    {{/each}}
  </ul>

  {{#link-to "studentgroups.new"}}<button>New studentgroup</button>{{/link-to}}

</div>
