<div class="route-studentgroups">
  <h1>{{model.groupName}} </h1>



  <h2>Studenten:</h2>
  <ul>
    {{#each model as |membership|}}
      <!-- show students in group-->
      {{membership.userId}}
    {{else}}
      geen studenten gevonden
    {{/each}}
  </ul>

  {{#link-to "studentgroups.index"}}<button>Terug</button>{{/link-to}}

</div>
