<div class="route-studentgroups">
  <h1>group overview</h1>



  <h2>Studenten:</h2>
  <ul>
    {{#each model as |membership|}}
      <!-- show students in group-->
      {{membership.id}}
    {{else}}
      geen studenten gevonden
    {{/each}}
  </ul>

</div>
