// Colors
$dark-blue: #263238;
$white: #ffffff;
$medium-gray: #b4b4b4;
$background-light-grey: #ecf0f1;
$green: #009c82;
$separator: #c2c2c2;
$success: #40b5a1;
$warning: #fdd835;
$danger: #f77268;

// Shadows
$default-box-shadow: 0 1px 18px rgba(0, 0, 0, 0.1);


