<main class="view view__dashboard">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="top-bar">
          <h1>Dashboard</h1>
          {{#link-to "reservations.index" class="btn btn__reservation btn--green"}}Reserveren{{/link-to}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="grid-block">
          <div class="grid-block__title">Mijn reserveringen</div>
          {{reservation-list reservations=model}}
        </div>
      </div>
      <div class="col-12 col-md-6">
        {{ my-groups-block }}
      </div>
    </div>
  </div>
</main>
