<main class="login-register-view">
  <div class="login-register-view__content">
    <div class="logo">Web Room Booking</div>
    <form>
      {{#if errorMessage}}
        <div class="alert alert--danger icon-danger">{{errorMessage}}</div>
      {{/if}}
      <div class="form-group">
        {{input placeholder="E-mailadres" class="default-input"}}
      </div>
      <div class="form-group">
        {{input type="password" placeholder="Wachtwoord" class="default-input"}}
      </div>
      <button {{action "login" email password}} class="btn btn--green">Inloggen</button>
    </form>
    <span class="separator"></span>
    <p>Nog geen account?</p>
    <button class="btn btn--gray">Registreren</button>
  </div>

</main>
