<form {{action "saveModel" on="submit"}}>
  {{input  type="text" value=model.roomNumber required=true placeholder="Enter classroom" pattern="([A-Z]{1})([0-9]{1})([.]{1})([0-9]{2})"}}
  {{input  type="number" value=model.capacity required=true placeholder="Enter capacity" min="1"}}
  <button type="submit" value="submit" >Save</button>
</form>


