<main class="view view__classrooms">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="top-bar">
          <h1>Lokalen</h1>
          {{#if (has-role "admin")}}
            {{#link-to "classrooms.new" class="btn btn--green"}}Toevoegen{{/link-to}}
          {{/if}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="grid-block">
          <div class="grid-block__title">Kamers</div>
          <div class="classrooms-block">
            {{#each model as |classroom|}}
              <div class="classroom">
                <div class="classroom__room">{{classroom.roomNumber}}</div>
                <div class="classroom__capacity">
                  Capaciteit: {{classroom.capacity}} personen
                </div>
              </div>
            {{else}}
              <div>Geen reserveringen gevonden</div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
