{{ main-header }}
<div class="route-classrooms">
  <h1>Classrooms</h1>
  {{#link-to
    "classrooms.new"
  }}
    <button>Add new classroom</button>
  {{/link-to}}
  <ul>
    <table>
      <thead>
      <th>Start hour</th>
      <th>End hour</th>
      </thead>
      <tbody>
      {{#each model as |classroom|}}
        <tr>
          <td>{{classroom.roomNumber}}</td>
          {{#each classroom.reservations as |reservation|}}
            <td>{{reservation.day}}</td>
          {{/each}}
        </tr>
      {{/each}}
      </tbody>
    </table>
  </ul>
</div>