<div class="route-classrooms">
  <h1>Classrooms</h1>
  {{#link-to 'classrooms.new'}}<button>Add new classroom</button>{{/link-to}}
  <ul>
  <table style="width:75%">
    <tr>
      <th>Classroom</th>
      <th>Capacity</th>
    </tr>
      {{#each model as |classroom|}}
        <tr>
          <td>{{classroom.roomNumber}}</td>
          <td>{{classroom.capacity}}</td>
        </tr>
    {{/each}}
  </table>
  </ul>
</div>