<div class="route-classrooms">
  <h1>Classrooms</h1>
  <ul>
    {{#each model as |classroom|}}
      {{#link-to "classrooms.availability" classroom}}<li>{{classroom.roomNumber}}</li>{{/link-to}}
    {{/each}}
  </ul>
  {{#link-to "classrooms.new"}}<button>New classroom</button>{{/link-to}}
</div>