<div class="route-classrooms">
  <h1>Classrooms</h1>
  {{#link-to
    "classrooms.new"
  }}
    <button>Add new classroom</button>
  {{/link-to}}
  <ul>
    <table>
      <thead>
        <th>Classroom</th>
        <th>Capacity</th>
      </thead>
      <tbody>
        {{#each model as |classroom|}}
          <tr>
            {{#link-to "classrooms.show" classroom}}<td>{{classroom.roomNumber}}</td>{{/link-to}}
            <td>{{classroom.capacity}}</td>
            </tr>
        {{/each}}
      </tbody>
    </table>
  </ul>
</div>