<main class="view view__new-reservation">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="top-bar top-bar__text-only">
          <h1>Nieuw lokaal</h1>
        </div>
      </div>
    </div>
    {{partial "classrooms/form"}}
  </div>
</main>
